<template>
  <div class="hello">
    <!-- <div v-if="error">{{ error }} failed to load</div>
    <div v-if="pokemon">{{ pokemon }}</div>
    <div v-if="pokemon === undefined">Loading...</div> -->

    <div>{{ count }}</div>
  </div>
</template>

<script>
import useSWRV from "swrv";
// import { watch } from "@vue/composition-api";

export default {
  name: "HelloWord",
  data() {
    return { msg: {} };
  },

  computed: {
    count() {
      return this.$store.state.count;
    },
  },
  // watch: {
  //   pokemon: function(val) {
  //     this.$store.state.count = val;
  //   },
  // },

  setup(props, { root }) {
    const { data: pokemon } = useSWRV(
      () => `https://pokeapi.co/api/v2/pokemon/`,
      // () => `http://localhost:3000/users`,
      (key) =>
        fetch(key)
          .then((res) => res.json())
          // .then((json) => json)
          .then((json) => ({ ...json }))
    );
    root.$store.state.count = pokemon;
    // return {
    //   pokemon,
    // };
  },
  // setup() {
  //   const { data: pokemon, error } = useSWRV(
  //     () => `https://pokeapi.co/api/v2/pokemon/  `,
  //     // () => `http://localhost:3000/users`,
  //     (key) =>
  //       fetch(key)
  //         .then((res) => res.json())
  //         // .then((json) => json)
  //         .then((json) => ({ ...json }))
  //   );
  //   function handleError(error) {
  //     console.error(error && error.message);
  //   }
  //   watch(error, handleError);
  //   return {
  //     pokemon,
  //     error,
  //   };
  // },
};
</script>

<style scoped></style>
